/* base page styles */

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 5em;
    color: #333;
}

h3 {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 1.7em;
    color: #707070;
}

p {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1em;
    color: #707070;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-content: space-between;
    padding-right: 5em;
}

nav li {
    display:inline;
    border-left: 1px solid #707070;
    padding: .5em;
    margin: .5em;
}

nav a {
    text-decoration: none;
}

a {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1em;
    color: #707070;   
}

a:hover {
    color: hotpink;
}

a:visited {
    color: #707070; 
}

footer {
    display: flex;
    justify-content: flex-end;
    align-content: space-between;
  }

/* * classes */

  .social {
    padding-right: 5em;
  }

  .bigSocial {
      font-size: 2em;
  }

  .main-img {
      padding-left: 5em;
      padding-bottom: 2em;
      height: 650px;
  }

  .resume {
    margin-left: 11em;
    padding-left: 3em;
    border-left: 2px solid #333;
    margin-bottom: 2em;
  }

  /* main page name */
.lindsay {
    padding: 1em 0 .1em 0;
    border-bottom: 2px solid #333;
    margin-bottom: 0;
  }

  /* h1 non-mainpage */
  .page-title {
      padding-left: 1em;
      margin-top: 0;
  }

  .about {
      display: flex;
      flex-wrap: wrap;
  }

  /* flex trios */

  #flexRow {
    display: flex;
    flex-direction: row wrap;
    padding-top: 2em;
  }


  #flexColumn {
    display: flex;
    flex-direction: column;
    padding: 0 2.5em 0 2em;
  }


  #flexColumn .slide img {
      width: 100%;
  }

 