/* base page styles */

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 5em;
    color: #333;
}

h3 {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 1.7em;
    color: #707070;
}

p {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1em;
    color: #707070;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-content: space-between;
    padding-right: 5em;
}

nav li {
    display:inline;
    border-left: 1px solid #707070;
    padding: .5em;
    margin: .5em;
}

nav a {
    text-decoration: none;
}

a {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1em;
    color: #707070;   
}

a:hover {
    color: hotpink;
}

a:visited {
    color: #707070; 
}

footer {
    display: flex;
    justify-content: flex-end;
    align-content: space-between;
  }

/* * classes */

  .social {
    padding-right: 5em;
  }

  .main-img {
      padding-left: 5em;
      padding-bottom: 2em;
      height: 650px;
  }

  /* banner and text underneath */
  .lm-banner {
      width: 55%;
      padding-left: 5%;
      align-items: flex-end;
  }

  .resume {
    margin-left: 11em;
    padding-left: 3em;
    border-left: 2px solid #333;
    margin-bottom: 2em;
  }

  /* main page name */
.lindsay {
    padding-left: .5em;
    padding-top: 1em;
    padding-bottom: .1em;
    /* border-bottom: 2px solid #333; */
  }

  /* h1 non-mainpage */
  .page-title {
      padding-left: 1.5em;
  }

  .about {
      display: flex;
      flex-wrap: wrap;
  }

  /* flexbox for img and name */
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  /* is this even right?! Trying to double decker the name and description */

.column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-end;
  }