/* base page styles */

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 5em;
    color: #333;
}

h3 {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 1.7em;
    color: #707070;
}

p {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1em;
    color: #707070;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-content: space-between;
    padding-right: 5em;
}

nav li {
    display:inline;
    border-left: 1px solid #707070;
    padding: .5em;
    margin: .5em;
}

nav a {
    text-decoration: none;
}

a {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1em;
    color: #707070;   
}

a:hover {
    color: hotpink;
}

a:visited {
    color: #707070; 
}

footer {
    display: flex;
    justify-content: flex-end;
    align-content: space-between;
  }

/* * classes */

  .social {
    padding-right: 5em;
  }

  .bigSocial {
      font-size: 2em;
  }

  .main-img {
      padding-left: 5em;
      padding-bottom: 2em;
      height: 650px;
  }

  .resume {
    margin-left: 11em;
    padding-left: 3em;
    border-left: 2px solid #333;
    margin-bottom: 2em;
  }

  /* main page name */
.lindsay {
    padding: 1em 0 .1em 0;
    border-bottom: 2px solid #333;
    margin-bottom: 0;
  }

  /* h1 non-mainpage */
  .page-title {
      padding-left: 1em;
      margin-top: 0;
  }

  .about {
      display: flex;
      flex-wrap: wrap;
  }

  /* flex trios */

  #flexRow {
    display: flex;
    flex-direction: row wrap;
    padding-top: 2em;
  }


  #flexColumn {
    display: flex;
    flex-direction: column;
    padding: 0 2.5em 0 2em;
  }


  #flexColumn .slide img {
      width: 100%;
  }

  /* drop down button */
/* Dropdown Button */
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
 